TOKEN=token_here
DB_HOST=127.0.0.1
DB_USER=username
DB_PASS=password
DB_PORT=3306
DB_DATABASE=database_name

# Optional, this section is to alleviate rate limits if
# the bot appears to be laggy
REDIS_URL=localhost:6379
REDIS_USERNAME=username
REDIS_PASSWORD=password
PROXY_SERVERS=proxy1.example.com proxy2.example.com